.results-container {
    width: 80%;
    height: 750px;
    border: solid 1px black;
    border-radius: 5px;
    padding: 0;
    overflow: scroll;
    text-align: center;
}

.list-item {
    padding: 7px;
    list-style: none
}