.search-form {
    width: 80%;
    height: 100px;
    border: solid 1px black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-label {
    height: 20%;
    margin: 2%;
}

.search-bar {
    width: 35%;
    height: 20%;
    margin: 2%;
}